.credits {
    text-align: center;
    animation: vertScroll 50s infinite linear;
}
body {
    overflow: hidden;
}
@keyframes vertScroll {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(-120%);
    }
}