.credits {
    text-align: center;
    animation: vertScroll 60s infinite linear;
}
body {
    overflow: hidden;
    font-family: splatoon;
}

#subscribers > p > span {
    animation: rainbowText 2s infinite;
}

#vip {
    color: purple;
}

#mod {
    color: green;
}

#bits > span {
    display: flex;
    justify-content: center;
}

.bitsAni {
    margin-top: auto;
    margin-bottom: auto;
    height: 15px;
    margin-left: 5px;
}
@keyframes vertScroll {
    from {
        transform: translateY(calc(100vh));
    }
    to {
        transform: translateY(calc(-100%));
    }
}

@keyframes rainbowText {
    0% { color: red; }
    14% { color: orange; }
    28% { color: yellow; }
    42% { color: green; }
    57% { color: blue; }
    71% { color: indigo; }
    85% { color: violet; }
    100% { color: red; }
}

@font-face {
    font-family: splatoon;
    src: url(../font/Splatoon2.otf) format("opentype");
}